/* src/styles/Auth.css */
.ant-Auth-form-bg {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

/* Nadpisanie stylów Ant Design dla formularza */
.ant-form {
    padding: 24px;
    border-radius: 8px;
}


.ant-input, .ant-input-password {
    border: 1px solid #444;
}

.ant-input:hover, .ant-input-password:hover {
    box-shadow: 0 8px 32px rgba(64,169,255,0.25);
    border-color: #40a9ff;
}


