/* src/styles/Auth.css */
.ant-Auth-form-bg {
    height: auto; /* stała wysokość */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border: 2px solid #1890ff;
    border-radius: 16px;
    box-shadow: 20px 10px rgba(24,144,255,0.15);
    margin: 48px auto;
    font-family: "Sans Serif Collection", serif
}

/* Nadpisanie stylów Ant Design dla formularza */
.ant-form {
    padding: 24px;
    border-radius: 8px;
}


.ant-input, .ant-input-password {
    border: 1px solid #444;
}

.ant-input:hover, .ant-input-password:hover {
    box-shadow: 0 8px 32px rgba(64,169,255,0.25);
    border-color: #40a9ff;
}

.ant-Auth-form-header {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    text-align: center;
}
