/* Home.css */
:root {
    --container-max: 1100px;     /* dostosuj szerokość „środka” */
    --side-padding: 16px;        /* wewnętrzne odstępy po bokach na małych ekranach */
    --gap: 24px;                 /* odstęp między kartami/sekcjami */
}

.ant-home-card {
    margin: 16px;
    border-radius: 16px;
    border: 2px solid;
    box-shadow: 0 4px 8px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s, border-color 0.3s;
}

.ant-home-card:hover {
    box-shadow: 0 4px 8px;
    border: 2px solid;
    transform: translateY(-8px) scale(1.03);
}
.home-ant-container {
    width: min(100% - 2 * var(--side-padding), var(--container-max));
    margin-inline: auto;         /* centruje całość */
}