:root[data-theme="light"] body { background: #f6f7f9; }
:root[data-theme="dark"] body { background: #0b1622; }

.app-layout {
    min-height: 100vh;
}

.app-layout-content{
    width: 60%;
    margin: 0 auto;
    padding-top: 32px;
}