.fade-enter {
    opacity: 0;
    transform: translateY(-50px);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 300ms, transform 300ms;
}

:root[data-theme="light"] body { background: #f6f7f9; }
:root[data-theme="dark"] body { background: #0b1622; }