
.input-style {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
}
.label-style {
    display: block;
    min-width: 100px;
}

.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}